{% extends "base.html" %}
{% block title %}
  Über Uns 
{% endblock title %}

{% block body %}
<section class="about_section layout_padding-bottom" style="margin-top:50px; ;"> 
  <div class="container">
    <div class="row">
      <!-- Bildspalte -->
      
      <!-- Textspalte (volle Breite nach Bild) -->
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              Über <span>Uns</span>
            </h2>
          </div>
          <p>
            Unser Fokus liegt auf professionellen und maßgeschneiderten Immobiliendienstleistungen. Wir helfen Ihnen, Ihre Immobilienziele mit strategischer Planung und fundiertem Fachwissen zu erreichen – sei es beim Kauf, Verkauf oder bei Investitionen. Unsere Expertise und unser Engagement stellen sicher, dass Ihre Immobilienprojekte reibungslos und erfolgreich verlaufen.
          </p>
          <ul>
            <li><strong>Spezialisierte Immobilienkompetenz:</strong> Unser Team bringt umfangreiche Erfahrung in Wohn-, Gewerbe- und Anlageimmobilien mit und bietet Ihnen umfassende Beratung und Unterstützung.</li>
            <li><strong>Individuelle Betreuung:</strong> Wir bieten maßgeschneiderte Lösungen, die genau auf Ihre Immobilienbedürfnisse abgestimmt sind, um nachhaltige Erfolge zu erzielen.</li>
            <li><strong>Marktkenntnis auf höchstem Niveau:</strong> Mit tiefgehenden Einblicken in lokale und nationale Märkte unterstützen wir Sie mit wertvollen Analysen und strategischen Empfehlungen.</li>
            <li><strong>Starkes Branchennetzwerk:</strong> Wir kooperieren mit führenden Experten der Immobilienbranche, um Ihnen alle erforderlichen Ressourcen und Fachkräfte zur Verfügung zu stellen.</li>
            <li><strong>Erfolgreiche Projekte:</strong> Unsere langjährige Erfolgsgeschichte und zufriedene Kunden belegen unser Engagement und unsere Fähigkeit, Erwartungen zu übertreffen.</li>
          </ul>
          <a href="/contact/" class="btn btn-primary">
            Kontaktieren Sie Uns
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="img-box">
          <img src="/static/images/harpreet_singh (1).jfif" alt="Real estate agent" class="img-fluid"  style="width: 100%;
    background: #eceff4;
    height: auto;
    max-height: 523px;
    /* object-fit: contain; */
    object-position: top;
    max-width: 100%;
    /* max-height: 400px; */
    display: block;
    margin: auto;
    object-fit: cover;
    max-height: 585px;
    ">
        </div>
      </div>
    </div>
  </div>
</section>

  {% endblock body %}
