{% extends "base-chi.html" %}  

{% block title %}关于我们{% endblock title %}  

{% block body %} 
<section class="about_section layout_padding-bottom" style="margin-top:50px;">   
  <div class="container">     
    <div class="row">       
      <!-- 文本部分（全宽） -->       
      <div class="col-md-6">         
        <div class="detail-box">           
          <div class="heading_container">             
            <h2>关于 <span>我们</span></h2>           
          </div>           
          <p>             
            我们专注于专业和定制化的房地产服务。无论是购房、出售还是投资，我们都会通过战略规划和深入的专业知识，帮助您实现房地产目标。我们的经验和承诺确保您的房地产项目顺利成功。           
          </p>           
          <ul>             
            <li><strong>专业房地产知识：</strong>我们的团队在住宅、商业和投资物业方面拥有丰富的经验，为您提供全面的咨询和支持。</li>             
            <li><strong>个性化服务：</strong>我们根据您的具体需求提供定制化的解决方案，以实现可持续的成功。</li>             
            <li><strong>深入的市场洞察：</strong>凭借对本地和全国市场的深刻理解，我们为您提供有价值的分析和战略建议。</li>             
            <li><strong>强大的行业网络：</strong>我们与领先的房地产行业专家合作，为您提供所有必要的资源和专业支持。</li>             
            <li><strong>成功案例：</strong>我们长期以来的成功经验和众多满意的客户证明了我们的承诺和超越期望的能力。</li>           
          </ul>           
          <a href="/chi/contact/" class="btn btn-primary">联系 我们</a>         
        </div>       
      </div>       
      <div class="col-md-6">         
        <div class="img-box">           
          <img src="/static/images/harpreet_singh (1).jfif" alt="房地产经纪人" class="img-fluid" style="width: 100%; background: #eceff4; height: auto; max-height: 523px; object-position: top; max-width: 100%; display: block; margin: auto; object-fit: cover; max-height: 585px;">         
        </div>       
      </div>     
    </div>   
  </div> 
</section>  

{% endblock body %}
