{% extends "base.html" %}
{% block title %}
  About 
{% endblock title %}

{% block body %}
<section class="about_section layout_padding-bottom" style="margin-top:50px; ;"> 
  <div class="container">
    <div class="row">
      <!-- Image Column -->
      

      <!-- Text Column (Full Width After Image) -->
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              About <span>Us</span>
            </h2>
          </div>
          <p>
            We are committed to providing exceptional real estate services. Our team of experts is dedicated to helping you achieve your property goals, whether you are buying, selling, or investing. We guide you every step of the way, ensuring that your real estate journey is seamless, successful, and aligned with your needs.
          </p>
          <ul>
            <li><strong>Comprehensive Expertise:</strong> We bring years of experience in residential, commercial, and investment real estate to help you make the best decisions.</li>
            <li><strong>Client-Centered Approach:</strong> Our personalized services are tailored to your unique real estate needs, ensuring the best possible outcome for you.</li>
            <li><strong>In-Depth Market Knowledge:</strong> With deep insights into both local and national markets, we provide valuable advice to help you navigate your real estate journey.</li>
            <li><strong>Trusted Network:</strong> We connect you with top industry professionals, from legal advisors to contractors, ensuring you have all the resources you need.</li>
            <li><strong>Proven Success:</strong> Our track record of successful transactions and satisfied clients speaks to our commitment to delivering results and exceeding expectations.</li>
          </ul>
          <a href="/contact/" class="btn btn-primary">
            Contact Us
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="img-box">
          <img src="/static/images/about-us.webp" alt="Real estate agent consulting with clients" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>


  <!-- end about section -->

  <!-- info section -->

  {% endblock body %}
  <!-- end info section -->

  <!-- footer section -->