{% extends "base.html" %}
{% block title %}
  Über Uns 
{% endblock title %}

{% block body %}
<section class="about_section layout_padding-bottom" style="margin-top:50px; ;"> 
  <div class="container">
    <div class="row">
      <!-- Bildspalte -->
      
      <!-- Textspalte (volle Breite nach Bild) -->
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              Über <span>Uns</span>
            </h2>
          </div>
          <p>
            Wir sind bestrebt, außergewöhnliche Immobiliendienstleistungen anzubieten. Unser Expertenteam ist darauf spezialisiert, Ihnen zu helfen, Ihre Immobilienziele zu erreichen, sei es beim Kauf, Verkauf oder bei Investitionen. Wir begleiten Sie Schritt für Schritt und sorgen dafür, dass Ihre Immobilienreise reibungslos, erfolgreich und auf Ihre Bedürfnisse abgestimmt ist.
          </p>
          <ul>
            <li><strong>Umfassende Expertise:</strong> Wir bringen jahrelange Erfahrung in den Bereichen Wohn-, Gewerbe- und Investitionsimmobilien mit, um Ihnen die besten Entscheidungen zu ermöglichen.</li>
            <li><strong>Kundenorientierter Ansatz:</strong> Unsere personalisierten Dienstleistungen sind auf Ihre individuellen Immobilienbedürfnisse zugeschnitten und sorgen für bestmögliche Ergebnisse.</li>
            <li><strong>Fundierte Marktkenntnisse:</strong> Mit tiefen Einblicken in lokale und nationale Märkte bieten wir wertvolle Ratschläge, um Sie auf Ihrer Immobilienreise zu unterstützen.</li>
            <li><strong>Vertrauenswürdiges Netzwerk:</strong> Wir verbinden Sie mit führenden Branchenexperten, von Rechtsberatern bis hin zu Bauunternehmern, und stellen sicher, dass Sie alle benötigten Ressourcen zur Verfügung haben.</li>
            <li><strong>Erfolgsbilanz:</strong> Unsere erfolgreiche Transaktionshistorie und zufriedene Kunden zeugen von unserem Engagement, Ergebnisse zu liefern und Erwartungen zu übertreffen.</li>
          </ul>
          <a href="/contact/" class="btn btn-primary">
            Kontaktieren Sie Uns
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="img-box">
          <img src="/static/images/about-us.webp" alt="Immobilienmakler berät Kunden" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>


  <!-- Ende der Über-uns-Sektion -->

  {% endblock body %}
  <!-- Ende der Info-Sektion -->

  <!-- Fußzeile -->
