{% extends "base-chi.html" %}
{% block title %}
  联系我们
{% endblock title %}
{% block body %}
  
  <!-- 联系区域 -->
  <section class="contact_section layout_padding-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-5 offset-md-1">
          <div class="heading_container">
            <h2>
              联系我们
            </h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-5 offset-md-1">
          <div class="form_container">
            <form id="contact_form">
              <div>
                <input type="text" placeholder="您的姓名" id="username" required />
              </div>
              <div>
                <input type="email" placeholder="电子邮件" id="email" required />
              </div>
              <div>
                <input type="tel" placeholder="电话号码" id="phone" required />
              </div>
              
              <div>
                <textarea type="text" class="message-box" placeholder="留言" id="message" style="width: 100%;
    border: none;
    height: 100px;
    margin-bottom: 25px;
    padding-left: 15px;
    outline: none;
    color: #101010;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);"></textarea>
              </div>
              <div class="btn_box">
                <button id="submit_button" role="submit">
                  发送
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-7 col-md-6 px-0">
          <div class="map_container">
            <div class="map" style="padding-top: 0px;padding-left:10px;padding-right:10px;">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2557.5114982596!2d8.755819975464936!3d50.13286241018137!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bd0e37132a398f%3A0x41def0601c517692!2sSteinauer%20Str.%2010%2C%2060386%20Frankfurt%20am%20Main%2C%20Germany!5e0!3m2!1szh-CN!2sCN!4v1735835654216!5m2!1szh-CN!2sCN" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- 联系区域结束 -->

  {% endblock body %}

  {% block script %}
  <script>
    document.getElementById("contact_form").onsubmit = (e) => {
      e.preventDefault();  // 阻止表单提交和页面刷新
  
      let username = document.getElementById("username")
      let email = document.getElementById("email")
      let phone = document.getElementById("phone")
      let message = document.getElementById("message")
      let data = {
          "username": username.value.trim(),
          "email": email.value.trim(),
          "phone": phone.value.trim(),
          "message": message.value.trim()
      };
  
      fetch(`${window.location.origin}/api/contact/`, {
          method: "POST",
          headers: {
              'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
      })
      .then((response) => response.json())
      .then((response) => {
          if (response.success) {
            username.value=""
            email.value=""
            phone.value=""
            message.value=""
            alert(response.message);
              
          } else {
              alert(response.message);
          }
      })
      .catch((error) => {
          console.error('错误:', error);
          alert("发生错误，请重试。");
      });
  };
  
</script>
{% endblock script %}
