{% extends "base-chi.html" %}

{% block title %}
法律声明
{% endblock title %}

{% block style %}
<style>
    .container2 {
        max-width: 900px;
        margin: 50px auto;
        background-color: #fff;
        border-radius: 12px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    }
    .header {
        text-align: center;
        margin-bottom: 40px;
    }
    .header h1 {
        font-size: 2.5rem;
        color: #333;
        margin-bottom: 10px;
    }
    .content {
        line-height: 1.9;
        color: #555;
    }
    .content h2,
    .content h3 {
        color: #444;
        margin-bottom: 15px;
    }
    .content h2 {
        border-bottom: 2px solid #ddd;
        padding-bottom: 10px;
    }
    .content p {
        margin-bottom: 15px;
    }
    footer{
        display: none;
    }
</style>
{% endblock style %}

{% block body %}
<div class="container2">

    <div>
        <h1 style="text-align: center;">法律声明</h1>
    </div>
    
    <div class="container">
        <div class="content">
            <h2>联系信息</h2>
            <div class="section">
                <p class="bold">Harpreet Singh</p>
                <p>Ghotra Immobilien</p>
                <p>Steinauer Straße 10, 60386 法兰克福</p>
                <p>电话: +49 171 6577439</p>
                <p>电子邮件: <a href="mailto:info@ghotra-immobilien.com">info@ghotra-immobilien.com</a></p>
            </div>

            <h3>税号</h3>
            <p>79826514801</p>

            <h3>内容负责人</h3>
            <p>Harpreet Singh</p>

            <h3>欧盟争议解决</h3>
            <p>欧盟委员会提供在线争议解决平台 (OS): <a href="https://ec.europa.eu/consumers/odr/" target="_blank">https://ec.europa.eu/consumers/odr/</a></p>
            <p>我们的电子邮件地址见上述法律声明。</p>

            <h3>消费者争议解决/通用仲裁机构</h3>
            <p>我们不愿意或无义务参与消费者仲裁机构的争议解决程序。</p>
            <p><b>来源 :- </b><a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>

        </div>
    </div>
</div>

{% endblock body %}

{% block script %}

{% endblock script %}
