{% extends "base.html" %}

{% block title %}
Impressum
{% endblock title %}

{% block style %}
<style>
    .container2 {
        max-width: 900px;
        margin: 50px auto;
        background-color: #fff;
        border-radius: 12px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    }
    .header {
        text-align: center;
        margin-bottom: 40px;
    }
    .header h1 {
        font-size: 2.5rem;
        color: #333;
        margin-bottom: 10px;
    }
    .content {
        line-height: 1.9;
        color: #555;
    }
    .content h2,
    .content h3 {
        color: #444;
        margin-bottom: 15px;
    }
    .content h2 {
        border-bottom: 2px solid #ddd;
        padding-bottom: 10px;
    }
    .content p {
        margin-bottom: 15px;
    }
    footer{
        display: none;
    }
</style>
{% endblock style %}

{% block body %}
<div class="container2">

    <div>

        <h1 style="text-align: center;">Impressum</h1>
    </div>
    
<div class="container">

    <div class="content">
        <h2>Kontaktinformation</h2>
        <div class="section">
            <p class="bold">Harpreet Singh</p>
            <p>Immobilienberater und -makler</p>
            <p>Steinauer Straße 10 
                60386 Frankfurt am Main</p>
            <p>Telefon: +49 171 6577439</p>
            <p>E-Mail: <a href="mailto:info@ghotra-immobilien.com">info@ghotra-immobilien.com</a></p>
        </div>
        
        <h3>Berufsrechtliche Regelungen</h3>
        <p class="bold">Lizenzierter Immobilienmakler und -berater</p>
        
        <h3>Zuständige Kammer</h3>
        <div class="section">
            <p>Steinauer Straße 10 
                60386 Frankfurt am Main</p>
            <p>Telefon: +49 171 6577439</p>
            <p>E-Mail: <a href="mailto:info@ghotra-immobilien.com">info@ghotra-immobilien.com</a></p>
        </div>

        <h3>EU-Streitbeilegung</h3>
        <p>Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: <a href="https://ec.europa.eu/consumers/odr/" target="_blank">https://ec.europa.eu/consumers/odr/</a></p>
        <p>Unsere E-Mail-Adresse finden Sie oben im Impressum.</p>

        <h3>Verbraucherstreitbeilegung/Universelle Schlichtungsstelle</h3>
        <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
    </div>

    <div class="disclaimer">
        <h3>Haftungsausschluss</h3>
        <p>Trotz sorgfältiger Kontrolle der Inhalte übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</p>
    </div>

    <div class="cancellation-policy">
        <h3>Widerrufsbelehrung für Kaufverträge, die Immobilien-Dienstleistungen beinhalten</h3>
        <p>Verbraucher haben ein gesetzliches Widerrufsrecht. Ein Verbraucher ist jede natürliche Person, die ein Rechtsgeschäft zu Zwecken abschließt, die überwiegend weder ihrer gewerblichen noch ihrer selbstständigen beruflichen Tätigkeit zugerechnet werden können. (§ 13 BGB)</p>
        
        <h4>Widerrufsrecht</h4>
        <p>Sie haben das Recht, diesen Vertrag innerhalb von vierzehn Tagen ohne Angabe von Gründen zu widerrufen.</p>
        <p>Die Widerrufsfrist beträgt vierzehn Tage ab dem Tag, an dem Sie oder ein von Ihnen benannter Dritter die Ware oder das Eigentum in Besitz genommen haben.</p>
        <p>Um Ihr Widerrufsrecht auszuüben, müssen Sie uns (vollständiger Name, vollständige Adresse, Telefonnummer, E-Mail-Adresse) Ihre Entscheidung, diesen Vertrag zu widerrufen, mittels einer eindeutigen Erklärung (z.B. ein per Post versandter Brief oder eine E-Mail) mitteilen. Sie können dafür das beigefügte Muster-Widerrufsformular verwenden, dies ist jedoch nicht zwingend erforderlich.</p>

        <p>Um die Widerrufsfrist zu wahren, reicht es aus, wenn Sie die Mitteilung über die Ausübung des Widerrufsrechts vor Ablauf der Widerrufsfrist absenden.</p>

        <h4>Folgen des Widerrufs</h4>
        <p>Wenn Sie diesen Vertrag widerrufen, erstatten wir Ihnen alle Zahlungen, die wir von Ihnen erhalten haben, einschließlich der Lieferkosten (mit Ausnahme zusätzlicher Kosten, die sich aus Ihrer Wahl einer anderen Lieferart als der günstigsten Standardlieferung ergeben), unverzüglich und spätestens binnen vierzehn Tagen ab dem Tag, an dem wir die Mitteilung über Ihren Widerruf dieses Vertrages erhalten haben. Für diese Rückzahlung verwenden wir dasselbe Zahlungsmittel, das Sie bei der ursprünglichen Transaktion eingesetzt haben, es sei denn, mit Ihnen wurde ausdrücklich etwas anderes vereinbart; unter keinen Umständen werden Ihnen für diese Rückzahlung Entgelte berechnet.</p>

        <p>Wir können die Rückzahlung verweigern, bis wir die Ware zurückerhalten haben oder bis Sie den Nachweis erbracht haben, dass Sie die Ware zurückgesendet haben, je nachdem, was zuerst eintritt.</p>

        <p>Sie haben die Ware unverzüglich und in jedem Fall spätestens binnen vierzehn Tagen ab dem Tag, an dem Sie uns über den Widerruf dieses Vertrages unterrichten, an uns zurückzusenden oder zu übergeben. Diese Frist ist gewahrt, wenn Sie die Ware vor Ablauf der vierzehntägigen Frist absenden.</p>

        <p>Sie tragen die unmittelbaren Kosten der Rücksendung der Ware.</p>

        <p>Sie müssen nur für einen etwaigen Wertverlust der Ware aufkommen, wenn dieser Wertverlust auf einen Umgang mit der Ware zurückzuführen ist, der nicht erforderlich war, um die Beschaffenheit, die Eigenschaften und die Funktionsweise der Ware zu prüfen.</p>

        <p>Wenn Sie verlangt haben, dass die Dienstleistungen während der Widerrufsfrist beginnen, müssen Sie uns einen angemessenen Betrag zahlen, der dem Anteil der bereits erbrachten Leistungen bis zu dem Zeitpunkt entspricht, an dem Sie uns über die Ausübung des Widerrufsrechts in Bezug auf diesen Vertrag informieren, im Vergleich zum gesamten Umfang der im Vertrag vorgesehenen Leistungen.</p>
    </div>

    <div class="cancellation-form">
        <h4>Muster-Widerrufsformular</h4>
        <p>Wenn Sie den Vertrag widerrufen möchten, füllen Sie bitte dieses Formular aus und senden Sie es zurück:</p>

        <p><strong>An:</strong><br>
           Singh Haustechnik<br>
           Im Hartengrund 2, 63549 Ronneburg</p>

        <p><strong>Betreff:</strong> Widerruf des Vertrages</p>

        <p><strong>Vollständiger Name:</strong> _________________________________</p>

        <p><strong>Adresse:</strong> _________________________________</p>

        <p><strong>Bestellt am:</strong> _________________________________</p>

        <p><strong>Zu stornierendes Eigentum:</strong> _________________________________</p>

        <p><strong>Unterschrift des Verbrauchers:</strong> _________________________________</p>
        <p>(Nur für die Mitteilung auf Papier)</p>
    </div>

    </div>

    </div>
    
{% endblock body %}

{% block script %}

{% endblock script %}
