{% extends "base-en.html" %}

{% block title %}
Imprint
{% endblock title %}

{% block style %}
<style>
    .container2 {
        max-width: 900px;
        margin: 50px auto;
        background-color: #fff;
        border-radius: 12px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    }
    .header {
        text-align: center;
        margin-bottom: 40px;
    }
    .header h1 {
        font-size: 2.5rem;
        color: #333;
        margin-bottom: 10px;
    }
    .content {
        line-height: 1.9;
        color: #555;
    }
    .content h2,
    .content h3 {
        color: #444;
        margin-bottom: 15px;
    }
    .content h2 {
        border-bottom: 2px solid #ddd;
        padding-bottom: 10px;
    }
    .content p {
        margin-bottom: 15px;
    }
    footer{
        display: none;
    }
</style>
{% endblock style %}

{% block body %}
<div class="container2">

    <div>

        <h1 style="text-align: center;">Imprint</h1>
    </div>
    
<div class="container">

    <div class="content">
        <h2>Contact Information</h2>
        <div class="section">
            <p class="bold">Harpreet Singh Ghotra</p>
            <p>Ghotra Immobilien</p>
            <p>Kölner Str. 1
                      65760 Eschborn</p>
            <p>Telephone: +49 171 6577439</p>
            <p>Email: <a href="mailto:info@ghotra-immobilien.com">info@ghotra-immobilien.com</a></p>
        </div>
        
        <!-- <h3>Commercial Register</h3> -->
        <!-- <p>Register Entry Number: [number of the register entry]</p> -->
        <!-- <p>Register Court: [name of the register court]</p> -->

        <h3>Tax Number</h3>
        <p>79826514801</p>

        <h3>Editorially Responsible</h3>
        <p>Harpreet Singh Ghotra</p>

        <h3>EU Dispute Resolution</h3>
        <p>The European Commission provides a platform for online dispute resolution (ODR): <a href="https://ec.europa.eu/consumers/odr/" target="_blank">https://ec.europa.eu/consumers/odr/</a></p>
        <p>Our email address can be found above in the imprint.</p>

        <h3>Consumer Dispute Resolution/Universal Arbitration Board</h3>
        <p>We are not willing or obliged to participate in dispute resolution proceedings before a consumer arbitration board.</p>
        <p><b>Source :- </b><a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>

    </div>
    </div>
    </div>
    
    
{% endblock body %}

{% block script %}

{% endblock script %}
