{% extends "base.html" %}
<!-- End of header section -->
<!-- Slider Section -->
{% block title %}
  Startseite
{% endblock title %}

{% block body %}
  
    <section class="slider_section">
      <div class="slider_bg_box">
        <img src="/static/images/slider-bg.jpg" alt="">
      </div>
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container" style="padding-top: 100px;">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <h1>
                      Vertrauenswürdiger Immobilienpartner – Kaufen, Verkaufen, Beraten
                    </h1>
                    <p>
                      Erleben Sie reibungslose Immobiliengeschäfte mit professioneller Beratung. Ob Sie Ihr Traumhaus kaufen, eine Immobilie verkaufen oder professionelle Immobilienberatung suchen, wir bieten Ihnen einen persönlichen Service, Marktkenntnisse und außergewöhnliche Ergebnisse.
                    </p>
                    <div class="btn-box">
                      <a href="/contact/" class="btn1">
                        Kontaktieren Sie uns
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container" style="padding-top: 100px;">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <h1>
                      Chancen entdecken – Immobilienkompetenz, auf die Sie sich verlassen können
                    </h1>
                    <p>
                      Vom Verkauf von Wohn- und Gewerbeimmobilien bis hin zur Investitionsberatung helfen wir unseren Kunden, sich im dynamischen Immobilienmarkt zurechtzufinden. Unsere maßgeschneiderten Lösungen stellen sicher, dass Sie informierte Entscheidungen treffen, den Wert maximieren und Ihre Immobilienziele mit Vertrauen erreichen.
                    </p>
                    <div class="btn-box">
                      <a href="/contact/" class="btn1">
                        Kontaktieren Sie uns
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container" style="padding-top: 100px;">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <h1>
                      Fachkundige Immobilienberatung – Kaufen, Verkaufen, Erfolg haben
                    </h1>
                    <p>
                      Navigieren Sie mit Zuversicht durch den Immobilienmarkt. Vom Finden Ihres perfekten Zuhauses bis zum richtigen Verkaufspreis oder der Suche nach strategischer Beratung bieten wir maßgeschneiderte Lösungen und vertrauenswürdige Expertise.
                    </p>
                    <div class="btn-box">
                      <a href="/contact/" class="btn1">
                        Kontaktieren Sie uns
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
          <li data-target="#customCarousel1" data-slide-to="1"></li>
          <li data-target="#customCarousel1" data-slide-to="2"></li>
        </ol>
      </div>

    </section>
    <!-- End of slider section -->
  
  <!-- Service Section -->
  <section class="service_section layout_padding">
    <div class="service_container">
      <div class="container">
        <div class="heading_container">
          <h2>
            Unsere <span>Services</span>
          </h2>
          <p>
            Wir bieten umfassende Immobilienlösungen, vom Kauf und Verkauf von Immobilien bis hin zu Expertberatung und Investitionsberatung. Lassen Sie uns Ihnen helfen, informierte Entscheidungen auf dem heutigen dynamischen Markt zu treffen.
          </p>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="box">
              <div class="img-box">
                <img src="/static/images/s1.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Immobilienverkäufe & Angebote
                </h5>
                <p>
                  Wir sind auf die Verbindung von Käufern mit ihren Traumhäusern und die Sicherstellung des besten Werts für Verkäufer spezialisiert. Lassen Sie uns den gesamten Verkaufsprozess reibungslos abwickeln.
                </p>
                <a href="/contact/">
                  Kontaktieren Sie uns
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="box">
              <div class="img-box">
                <img src="/static/images/s2.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Immobilienberatung
                </h5>
                <p>
                  Unsere Beratungsdienste bieten Kunden Marktkenntnisse, Investitionsstrategien und Expertentipps, um Renditen zu maximieren und Risiken im Immobilienmarkt zu minimieren.
                </p>
                <a href="/contact/">
                  Kontaktieren Sie uns
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="box">
              <div class="img-box">
                <img src="/static/images/s3.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Immobilienverwaltung
                </h5>
                <p>
                  Vom Mieterplatz bis zur Wartung und Mietzahlung bieten wir einen vollständigen Immobilienverwaltungsservice, der sicherstellt, dass Vermieter und Investoren stressfreien Besitz genießen können.
                </p>
                <a href="/contact/">
                  Kontaktieren Sie uns
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="box">
              <div class="img-box">
                <img src="/static/images/s4.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Investitionsmöglichkeiten
                </h5>
                <p>
                  Entdecken Sie hochpotenzielle Immobilieninvestitionen mit unserer fachkundigen Beratung. Wir helfen Ihnen, profitable Immobilien und aufstrebende Märkte zu identifizieren, um Ihr Portfolio zu erweitern.
                </p>
                <a href="/contact/">
                  Kontaktieren Sie uns
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- End of service section -->

  <!-- About Section -->
  <section class="about_section layout_padding-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Über <span>uns</span>
              </h2>
            </div>
            <p>
              Wir sind bestrebt, außergewöhnliche Immobilienservices zu bieten, um sicherzustellen, dass unsere Kunden ihre Immobilienziele mit Vertrauen und Leichtigkeit erreichen. Ob Kauf, Verkauf oder Investition – wir begleiten Sie auf jedem Schritt.
            </p>
            <ul>
              <li><strong>Umfassende Expertise:</strong> Jahre der Erfahrung in Wohn-, Gewerbe- und Investitionsimmobilien.</li>
              <li><strong>Kundenorientiert:</strong> Maßgeschneiderte Lösungen, die auf Ihre einzigartigen Bedürfnisse und Ziele abgestimmt sind.</li>
              <li><strong>Marktkenntnis:</strong> Tiefes Verständnis der lokalen und nationalen Immobilienmärkte.</li>
              <li><strong>Vertrauenswürdiges Netzwerk:</strong> Verbindungen zu führenden Fachleuten der Branche, von Kreditgebern bis hin zu Auftragnehmern.</li>
              <li><strong>Ergebnisorientiert:</strong> Nachgewiesene Erfolgsbilanz bei Transaktionen und zufriedenen Kunden.</li>
            </ul>
            <a href="/about-us/">
              Mehr erfahren
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="/static/images/about-us.webp" alt="Immobilienberater, der mit Kunden berät">
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- End of About Section -->

  <!-- Contact Section -->
  <section class="contact_section" style="padding-top:50px;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-5 offset-md-1">
          <div class="heading_container">
            <h2>
              Kontaktieren Sie uns
            </h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-5 offset-md-1">
          <div class="form_container contact-form">
            <form id="contact_form">
              <div>
                <input type="text" placeholder="Ihr Name" id="username" />
              </div>
              <div>
                <input type="email" placeholder="E-Mail" id="email" />
              </div>
              <div>
                <input type="text" placeholder="Telefonnummer" id="phone" />
              </div>
              <div>
                <textarea type="text" class="message-box" placeholder="Nachricht" id="message" style="width: 100%;border: none;height: 100px;margin-bottom: 25px;padding-left: 15px;outline: none;color: #101010;-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);"></textarea>
              </div>
              <div class="btn_box" role="submit">
                <button>
                  SENDEN
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-7 col-md-6 px-0">
          <div class="map_container">
            <div class="map" style="padding-top: 0px;padding-left:10px;padding-right:10px;">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3671.89347586691!2d72.6440484!3d23.02768315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e86f5e58bb245%3A0x32c6e35678aa70ac!2sSoni%20ni%20chali%2C%20Virat%20Nagar%2C%20Odhav%2C%20Ahmedabad%2C%20Gujarat%20380038!5e0!3m2!1sen!2sin!4v1735805580844!5m2!1sen!2sin" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  <!-- End of Contact Section -->

  <!-- Footer Section -->
  
  <!-- Footer Section -->
  {% endblock body %}

{% block script %}
  <script>
    document.getElementById("contact_form").onsubmit = (e) => {
      e.preventDefault();  // Verhindern der Formularübermittlung und Neuladen
  
      let username = document.getElementById("username")
      let email = document.getElementById("email")
      let phone = document.getElementById("phone")
      let message = document.getElementById("message")
      let data = {
          "username": username.value.trim(),
          "email": email.value.trim(),
          "phone": phone.value.trim(),
          "message": message.value.trim()
      };
  
      fetch(`${window.location.origin}/api/contact/`, {
          method: "POST",
          headers: {
              'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
      })
      .then((response) => response.json())
      .then((response) => {
          if (response.success) {
            username.value=""
            email.value=""
            phone.value=""
            message.value=""
            alert(response.message);
              
          } else {
              alert(response.message);
          }
      })
      .catch((error) => {
          console.error('Error:', error);
          alert("Ein Fehler ist aufgetreten. Bitte versuchen Sie es erneut.");
      });
  };
</script>
{% endblock script %}
