{% extends "base-chi.html" %}
<!-- End of header section -->
<!-- Slider Section -->
{% block title %}
首页
{% endblock title %}

{% block body %}

<section class="slider_section">
    <div class="slider_bg_box">
        <img src="/static/images/slider-bg.jpg" alt="">
    </div>
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container" style="padding-top: 100px;">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="detail-box">
                                <h1 style="font-size: 30px;">
                                    您的可靠房地产伙伴 —— 买房、卖房、咨询
                                </h1>
                                <p>
                                    体验专业的房地产交易与顶级咨询服务。无论是梦想之家、房产买卖还是战略咨询，我们提供定制化解决方案、深入的市场洞察和卓越的结果。
                                </p>
                                <div class="btn-box">
                                    <a href="/chi/contact/" class="btn1">
                                        联系我们
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container" style="padding-top: 100px;">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="detail-box">
                                <h1 style="font-size: 30px;">
                                    发现房地产机遇 – 专家建议助您成功
                                </h1>
                                <p>
                                    从住宅和商业房产销售到战略投资咨询 – 我们助您驾驭多变的房地产市场。凭借定制化解决方案，帮助您做出明智决策，最大化价值，并自信实现您的房地产目标。
                                </p>
                                <div class="btn-box">
                                    <a href="/chi/contact/" class="btn1">
                                        联系我们
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container" style="padding-top: 100px;">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="detail-box">
                                <h1 style="font-size: 30px;">
                                    房地产专家咨询 – 购房、售房、投资
                                </h1>
                                <p>
                                    自信导航房地产市场。我们提供定制化解决方案，从寻找理想房产到确定最佳销售价格或战略投资咨询。
                                </p>
                                <div class="btn-box">
                                    <a href="/chi/contact/" class="btn1">
                                        联系我们
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ol class="carousel-indicators">
            <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
            <li data-target="#customCarousel1" data-slide-to="1"></li>
            <li data-target="#customCarousel1" data-slide-to="2"></li>
        </ol>
    </div>
</section>

<!-- End of slider section -->

<!-- Service Section -->
<section class="service_section layout_padding">
    <div class="service_container">
        <div class="container ">
            <div class="heading_container">
                <h2>
                    我们的 <span>服务</span>
                </h2>
                <p>
                    我们为房地产市场提供定制化解决方案——从房产买卖到全面咨询与专业投资策略。相信我们的专业知识，助您安全高效地实现房地产目标。
                </p>
            </div>
            <div class="row">
                <div class="col-md-6 " style="max-width: fit-content;">
                    <div class="box ">
                        <div class="img-box">
                            <img src="/static/images/s1.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                房产销售与房源挂牌
                            </h5>
                            <p>
                                我们帮助买家找到梦想房产，并确保卖家以最佳市场价值成交。信赖我们，从始至终专业管理销售流程。
                            </p>
                            <a href="/chi/contact/">
                                联系我们
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 " style="max-width: fit-content;">
                    <div class="box ">
                        <div class="img-box">
                            <img src="/static/images/s2.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                房地产咨询
                            </h5>
                            <p>
                                受益于我们的深入市场分析和战略咨询，助您在动态市场中做出正确决策，最大化回报。
                            </p>
                            <a href="/chi/contact/">
                                联系我们
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="max-width: fit-content;">
                    <div class="box ">
                        <div class="img-box">
                            <img src="/static/images/s3.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                物业管理
                            </h5>
                            <p>
                                我们提供全面的物业管理服务，包括租户筛选、维护保养和租金收取，让您无忧享受投资回报。
                            </p>
                            <a href="/chi/contact/">
                                联系我们
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 " style="max-width: fit-content;">
                    <div class="box ">
                        <div class="img-box">
                            <img src="/static/images/s4.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                投资机会
                            </h5>
                            <p>
                                我们为您甄选最佳房地产投资机会，识别增长市场，并助您成功拓展投资组合。
                            </p>
                            <a href="/chi/contact/">
                                联系我们
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End of service section -->

<!-- About Section -->
<section class="about_section layout_padding-bottom" style="margin-top:50px;">
    <div class="container">
        <div class="row">
            <!-- Image Column -->

            <!-- Text Column (full width after the image) -->
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            关于 <span>我们</span>
                        </h2>
                    </div>
                    <p>
                        我们的重点是提供专业且定制化的房地产服务。无论是购房、售房还是投资，我们通过战略规划和专业知识，助您实现房地产目标。
                    </p>
                    <ul>
                        <li><strong>专业房地产专长：</strong> 我们的团队在住宅、商业和投资房产方面拥有丰富经验，为您提供全面的咨询和支持。</li>
                        <li><strong>个性化服务：</strong> 我们提供专属解决方案，精准满足您的房地产需求，助您实现长期成功。</li>
                        <li><strong>高水平市场洞察：</strong> 凭借对本地及全国市场的深入了解，我们提供有价值的分析和战略建议。</li>
                    </ul>
                    <a href="/chi/about-us/" class="btn btn-primary">
                        了解更多
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-box">
                    <img src="/static/images/harpreet_singh (1).jfif" alt="Real estate agent" class="img-fluid"
                        style="width: 100%; background: #eceff4; height: auto; max-height: 523px; object-position: top; max-width: 100%; display: block; margin: auto; object-fit: cover; max-height: 585px;">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End of About Section -->

<!-- Contact Section -->
<section class="contact_section" style="padding-top:50px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-5 offset-md-1">
                <div class="heading_container">
                    <h2>
                        联系我们
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-5 offset-md-1">
                <div class="form_container contact-form">
                    <form id="contact_form">
                        <div>
                            <input type="text" placeholder="用户名" id="username" />
                        </div>
                        <div>
                            <input type="email" placeholder="电子邮件" id="email" />
                        </div>
                        <div>
                            <input type="text" placeholder="电话号码" id="phone" />
                        </div>
                        <div>
                            <textarea type="text" class="message-box" placeholder="留言内容" id="message"
                                style="width: 100%; border: none; height: 100px; margin-bottom: 25px; padding-left: 15px; outline: none; color: #101010; -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15); box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);"></textarea>
                        </div>

                        <div class="btn_box" role="submit">
                            <button>
                                发送
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-7 col-md-6 px-0">
                <div class="map_container">
                    <div class="map" style="padding-top: 0px;padding-left:10px;padding-right:10px;">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2557.5114982596!2d8.755819975464936!3d50.13286241018137!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bd0e37132a398f%3A0x41def0601c517692!2sSteinauer%20Str.%2010%2C%2060386%20Frankfurt%20am%20Main%2C%20Germany!5e0!3m2!1sen!2sin!4v1735835654216!5m2!1sen!2sin"
                            width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock body %}


{% block script %}
<script>
    document.getElementById("contact_form").onsubmit = (e) => {
        e.preventDefault();  // Verhindern der Formularübermittlung und Neuladen

        let username = document.getElementById("username")
        let email = document.getElementById("email")
        let phone = document.getElementById("phone")
        let message = document.getElementById("message")
        let data = {
            "username": username.value.trim(),
            "email": email.value.trim(),
            "phone": phone.value.trim(),
            "message": message.value.trim()
        };

        fetch(`${window.location.origin}/api/contact/`, {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then((response) => response.json())
            .then((response) => {
                if (response.success) {
                    username.value = ""
                    email.value = ""
                    phone.value = ""
                    message.value = ""
                    alert(response.message);

                } else {
                    alert(response.message);
                }
            })
            .catch((error) => {
                console.error('Error:', error);
                alert("Ein Fehler ist aufgetreten. Bitte versuchen Sie es erneut.");
            });
    };
</script>
{% endblock script %}