{% extends "base-en.html" %}

{% block title %}
  Services
{% endblock title %}

<!-- service section -->
{% block body %}
  
<section class="service_section layout_padding">
  <div class="service_container">
    <div class="container">
      <div class="heading_container">
        <h2>
          Our <span>Services</span>
        </h2>
        <p>
          We offer tailored solutions for the real estate market – from buying and selling properties to comprehensive consulting and professional investment strategies. Rely on our expertise to achieve your real estate goals safely and effectively.
        </p>
      </div>
      <div class="row">
        <div class="col-md-6" style="max-width: fit-content;">
          <div class="box">
            <div class="img-box">
              <img src="/static/images/s1.png" alt="">
            </div>
            <div class="detail-box">
              <h5 style="word-wrap: break-word;">
                Property Sales & Listings
              </h5>
              <p>
                We connect buyers with their dream properties and ensure that sellers achieve the best market value for their properties. Trust us to professionally guide the sales process from A to Z.
              </p>
              <a href="/en/contact/">
                Contact Us
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6" style="max-width: fit-content;">
          <div class="box">
            <div class="img-box">
              <img src="/static/images/s2.png" alt="">
            </div>
            <div class="detail-box">
              <h5 style="word-wrap: break-word;">
                Real Estate Consulting
              </h5>
              <p>
                Benefit from our in-depth market analysis and strategic consulting that helps you make the right decisions in a dynamic market and maximize returns.
              </p>
              <a href="/en/contact/">
                Contact Us
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6" style="max-width: fit-content;">
          <div class="box">
            <div class="img-box">
              <img src="/static/images/s3.png" alt="">
            </div>
            <div class="detail-box">
              <h5 style="word-wrap: break-word;">
                Property Management
              </h5>
              <p>
                We offer comprehensive services in managing your properties, from selecting tenants to maintenance and rent collection – all to help you relax and enjoy peace of mind.
              </p>
              <a href="/en/contact/">
                Contact Us
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6" style="max-width: fit-content;">
          <div class="box">
            <div class="img-box">
              <img src="/static/images/s4.png" alt="">
            </div>
            <div class="detail-box">
              <h5 style="word-wrap: break-word;">
                Investment Opportunities
              </h5>
              <p>
                We show you the best opportunities for real estate investments, identify growth markets, and help you successfully expand your portfolio.
              </p>
              <a href="/en/contact/">
                Contact Us
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end service section -->

<!-- info section -->

{% endblock body %}

<!-- end info section -->

<!-- footer section -->
