{% extends "base.html" %}
{% block title %}
  Dienstleistungen
{% endblock title %}

  <!-- service section -->
{% block body %}
  
  <section class="service_section layout_padding">
    <div class="service_container">
      <div class="container ">
        <div class="heading_container">
          <h2>
            Unsere <span>Dienstleistungen</span>
          </h2>
          <p>
            Wir bieten maßgeschneiderte Lösungen für den Immobilienmarkt – von Kauf und Verkauf von Immobilien bis hin zu umfassender Beratung und professioneller Investitionsstrategie. Vertrauen Sie auf unsere Expertise, um Ihre Immobilienziele sicher und effektiv zu erreichen.
          </p>
        </div>
        <div class="row">
          <div class="col-md-6 ">
            <div class="box ">
              <div class="img-box">
                <img src="/static/images/s1.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Immobilienverkauf & Listings
                </h5>
                <p>
                  Wir verbinden Käufer mit ihren Traumimmobilien und sorgen dafür, dass Verkäufer den besten Marktwert für ihre Objekte erzielen. Vertrauen Sie uns, den Verkaufsprozess von A bis Z professionell zu begleiten.
                </p>
                <a href="/contact/">
                  Kontaktieren Sie uns
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="box ">
              <div class="img-box">
                <img src="/static/images/s2.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Immobilienberatung
                </h5>
                <p>
                  Profitieren Sie von unserer fundierten Marktanalyse und strategischen Beratung, die Ihnen hilft, in einem dynamischen Markt die richtigen Entscheidungen zu treffen und Renditen zu maximieren.
                </p>
                <a href="/contact/">
                  Kontaktieren Sie uns
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="box ">
              <div class="img-box">
                <img src="/static/images/s3.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Immobilienverwaltung
                </h5>
                <p>
                  Wir bieten Ihnen einen umfassenden Service in der Verwaltung Ihrer Immobilien, von der Auswahl von Mietern bis zur Wartung und dem Mietinkasso – alles, damit Sie sich entspannt zurücklehnen können.
                </p>
                <a href="/contact/">
                  Kontaktieren Sie uns
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="box ">
              <div class="img-box">
                <img src="/static/images/s4.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Investitionsmöglichkeiten
                </h5>
                <p>
                  Wir zeigen Ihnen die besten Möglichkeiten für Immobilieninvestitionen, identifizieren wachstumsstarke Märkte und helfen Ihnen, Ihr Portfolio erfolgreich auszubauen.
                </p>
                <a href="/contact/">
                  Kontaktieren Sie uns
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->

  <!-- info section -->

   {% endblock body %}

  <!-- end info section -->

  <!-- footer section -->
