{% extends "base-chi.html" %}
{% block title %}
  服务
{% endblock title %}

  <!-- 服务部分 -->
{% block body %}
  
  <section class="service_section layout_padding">
    <div class="service_container">
      <div class="container ">
        <div class="heading_container">
          <h2>
            我们的 <span>服务</span>
          </h2>
          <p>
            我们为房地产市场提供定制解决方案——从房产买卖到全面咨询和专业投资策略。相信我们的专业知识，帮助您安全高效地实现您的房地产目标。
          </p>
        </div>
        <div class="row">
          <div class="col-md-6 "  style="max-width: fit-content;">
            <div class="box ">
              <div class="img-box">
                <img src="/static/images/s1.png" alt="">
              </div>
              <div class="detail-box">
                <h5 style="word-wrap: break-word;">
                  房产销售与挂牌
                </h5>
                <p>
                  我们为买家匹配梦想中的房产，并确保卖家获得最佳市场价值。相信我们，全程专业地管理销售过程。
                </p>
                <a href="/chi/contact/">
                  联系我们
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 "  style="max-width: fit-content;">
            <div class="box ">
              <div class="img-box">
                <img src="/static/images/s2.png" alt="">
              </div>
              <div class="detail-box">
                <h5 style="word-wrap: break-word;">
                  房地产咨询
                </h5>
                <p>
                  依靠我们深入的市场分析和战略咨询，帮助您在动态市场中做出正确决策并最大化回报。
                </p>
                <a href="/chi/contact/">
                  联系我们
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 "  style="max-width: fit-content;">
            <div class="box">
              <div class="img-box">
                <img src="/static/images/s3.png" alt="">
              </div>
              <div class="detail-box">
                <h5 style="word-wrap: break-word;">
                  物业管理
                </h5>
                <p>
                  我们提供全面的物业管理服务，包括租户选择、维护和租金收取，让您高枕无忧。
                </p>
                <a href="/chi/contact/">
                  联系我们
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 "  style="max-width: fit-content;">
            <div class="box ">
              <div class="img-box">
                <img src="/static/images/s4.png" alt="">
              </div>
              <div class="detail-box">
                <h5 style="word-wrap: break-word;">
                  投资机会
                </h5>
                <p>
                  我们为您寻找最佳房地产投资机会，识别高增长市场，并帮助您成功扩展投资组合。
                </p>
                <a href="/chi/contact/">
                  联系我们
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- 结束服务部分 -->

  <!-- 信息部分 -->

   {% endblock body %}

  <!-- 结束信息部分 -->

  <!-- 页脚部分 -->
